{% extends 'glazing/base.html' %}

{% block content %}

    <form action="{% url 'register' %}" method="POST" class="form-vertical">

  <div class="alert alert-error" id="signup_message"></div>
    {% csrf_token %}

 <fieldset>

  {% for field in user_form %}
    {% if field.is_hidden %}
      {{ field }}
    {% else %}
        <div class="control-group">
          {{ field.label_tag }}
          <div class="controls">
            {{ field }}
            <span id="{{ field.name }}_errors" class="help-inline"></span>
          </div>
        </div>

    {% endif %}

  {% endfor %}

    {% if profile.is_active%}
      {{ profile }}
    {% else %}
            <div class="control-group">
              {{ profile.label_tag }}
              <div class="controls">
                {{ profile }}
                <span id="{{ profile.name }}_errors" class="help-inline"></span>
              </div>
            </div>

    {% endif %}


  {% for name, err in errs %}
        {{ name }} {{ err }}
  {% endfor %}
    <br>
    <input class = "sign_up" type="submit" name="submit" value="Sign up"
           class="btn btn-primary btn-large" />
    <a href="{% url 'login' %}">to Login</a>
  </fieldset>

    </form>
<script>
$( document ).ready(function() {
    $( "form" ).submit(function(e) {

      if ( $( "#id_password1" ).val() != $( "#id_password2" ).val() ) {
        $( "#password2_errors" ).text( "The two password fields did not match." ).show();
        $( "#password2_errors" ).css('color', 'red');
        return false;
      }

      email_val = $("#id_email").val();

      if((email_val.indexOf('@') == -1) || (email_val.indexOf('.') == -1)){

          $( "#email_errors" ).text( "The Email Address you entered does not appear to be valid." ).show();
          $( "#email_errors" ).css('color', 'red');
          return false
      }

      return true;

    });
});

</script>
{% endblock %}