{% extends 'glazing/base.html' %}

{% block content %}
    <div class="container welcome">

        <div class="row heading">

            <div class="span12">
                <h1 class="pull-left">Welcome {{ user.profile.display_name }}!</h1>

{#                <a href="{% url 'glazing_project_list' %}" class="add_rec_btn">glazing</a>#}

            </div>

        </div>

        <div class="row welc">

            <div>
                    <div class="welcome-text">
                        Curabitur vulputate, ligula lacinia scelerisque tempor, lacus lacus ornare ante, ac egestas est urna sit amet arcu. Class aptent taciti sociosqu
                        ad litora torquent per conubia nostra, per inceptos himenaeos. Sed molestie augue sit amet leo consequat posuere. Vestibulum ante.                    </div>


            </div>
        </div>
    </div>
{% endblock %}
