{% extends 'glazing/base.html' %}

{% block content %}
    <div class="container welcome">

        <div class="row heading">

            <div class="span12">
                <h1 class="pull-left">Welcome !</h1>
                <a href="{% url 'login' %}" class="add_rec_btn">login</a>
            </div>
            <div class="span12">

            </div>
        </div>

        <div class="row welc">

            <div>
                    <div class="welcome-text">

                    </div>
            </div>
        </div>
    </div>
{% endblock %}
