{% extends 'glazing/base.html' %}

{% block content %}
    <div class="glazing_project">
        <h1>{{ detail.description }}<a class="btn btn-default" href="{% url 'glazing:glazing_project_edit' pk=detail.pk %}"><span class="glyphicon glyphicon-pencil"></span></a></h1>
        <p>Creation Date: {{ detail.pub_date }}<p>
        <p>Number of Floors: {{ detail.floor_number }}</p>
        <p>Nett Floor Area: {{ detail.nett_floor_area }}</p>
        <p>Climate Zone: {{ detail.climate_zone_id }}</p>
        <p>Conductance Constant (CU): {{ detail.climate_zone_id.CU }}     
        <p>Solar Heat Gain Constant (CSHGC): {{ detail.climate_zone_id.CSHGC }}             
        <h2> Windows <a href="{% url 'glazing:windows_new' glazing_project_id=detail.pk %}"><span class="glyphicon glyphicon-plus"></span></a></h2>
    </div>
    {% for windows in windows_query_set %}
        <div class="windows">
            <table>
                <tr>
                    <th>Description</th>
                    <th>Width (m)</th>
                    <th>Height (m)</th>
                    <th>Shading P (m)</th>
                    <th>Shading H (m)</th>
                    <th>Orientation</th>
                    <th>Glsss Product</th>
                    <th>Frame Material</th>
                    <th>Total Area (m2)</th>
                    <th>PH</th>
                    <th>Solar Exposure</th>
                    <th>SHGC Glazing</th>
                    <th>SHGC Proposed</th>
                    <th>U-value</th>
                    <th>Conductance</th>

                </tr>
                <tr>
                    <td><a href="{% url 'glazing:windows_detail' windows.id %}">{{ windows.description }}</a></td>
                    <td>{{ windows.width}}</td>
                    <td>{{ windows.height }}</td>
                    <td>{{ windows.shading_p }}</td>
                    <td>{{ windows.shading_h }}</td>
                    <td>{{ windows.orientation_id }}</td>
                    <td>{{ windows.glass_id }}</td>
                    <td>{{ windows.frame_id }}</td>
                    <td>{{ windows.window_area }}</td>
                    <td>{{ windows.ph }}</td>
                    <td>{{ windows.solar_exposure }}</td>
                    <td>{{ windows.glass_frame_join.SHGC }}</td>
                    <td>{{ windows.shgc_proposed }}</td>
                    <td>{{ windows.glass_frame_join.U_Value }}</td>
                    <td>{{ windows.conductance }}</td>
                </tr>
            </table>
        </div>
    {% endfor %}   
{% endblock %}
