{% extends 'glazing/base.html' %}

{% block content %}
    <h2> Projects <a href="{% url 'glazing:glazing_project_new' %}"><span class="glyphicon glyphicon-plus"></span></a></h2>
    <br>
    {% for glazing_project in glazing_projects_query_set %}
        <div class="post">
            <table>
                <tr>
                    <th>Name</th>
                    <th>Creation Date</th>
                </tr>
                <tr>
                    <td><a href="{% url 'glazing:glazing_project_detail' glazing_project.id %}">{{ glazing_project.description }}</a></td>
                    <td>{{ glazing_project.pub_date }}</td>
                </tr>
            </table>
        </div>
    {% endfor %}
{% endblock content %}