{% extends 'glazing/base.html' %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <h1>{{ detail.description }}
            <a class="btn btn-primary pull-right" href="{% url 'glazing:glazing_project_edit' pk=detail.pk %}">Edit 
                <span class="glyphicon glyphicon-pencil"></span>
            </a>
        </h1>
    </div>
    <div class="col-md-12">
        <div class="well">
            <table class="table">
            <thead></thead>
            <tbody>
                <tr>
                    <th>Creation Date:</th>
                    <td>{{ detail.pub_date }}</td>
                    <th>Climate Zone:</th>
                    <td>{{ detail.climate_zone_id }}</td>
                </tr>
                <tr>
                    <th>Floor Number:</th>
                    <td>{{ detail.floor_number }}</td>
                    <th>Conductance Constant (CU):</th>
                    <td>{{ detail.climate_zone_id.CU }}</td>
                </tr>
                <tr>
                    <th>Nett Floor Area:</th>
                    <td>{{ detail.nett_floor_area }}</td>
                    <th>Solar Heat Gain Constant (CSHGC):</th>
                    <td>{{ detail.climate_zone_id.CSHGC }}</td>
                </tr>
                <tr>
                    <th> Nett Glazed Area to Floor Area Ratio </th>
                    <td> {{net_glazed_area_to_floor_area_ratio}} %</td>
                    <th>Target SHGC</th>
                    <td>{{detail.target_shgc}}</td>
                </tr>
                <tr>
                    <th>Target U Value</th>
                    <td> {{detail.target_u }} </td>
                </tr>
            </tbody>
        </table>
        </div>
        
    </div>    
</div>
<div class="row">
    <div class="col-md-12">
        <h2> Windows 
            <a class="btn btn-primary pull-right" href="{% url 'glazing:windows_new' glazing_project_id=detail.pk %}">Add 
                <span class="glyphicon glyphicon-plus"></span>
            </a></h2>
    </div>
</div>
    <div class="glazing_project">
        
    </div>
        <div class="table-responsive">
            <table class="table table-condensed">
                <tbody>
                    <tr>
                        <th>Description</th>
                        <th>Width (m)</th>
                        <th>Height (m)</th>
                        <th>Glsss Product</th>
                        <th>Frame Material</th>
                        <th>Total Area (m<sup>2</sup>)</th>
                        <th>PH</th>
                        <th>SHGC Glazing</th>
                        <th>SHGC Proposed</th>
                        <th>U-value</th>
                        <th>Total U-value</th>
                        <th></th>
                    </tr>
                    {% for windows in windows_query_set %}
                    <tr>
                        <td><a href="{% url 'glazing:windows_detail' windows.id %}">{{ windows.description }}</a></td>
                        <td>{{ windows.width}}</td>
                        <td>{{ windows.height }}</td>
                        <td>{{ windows.glass_id }}</td>
                        <td>{{ windows.frame_id }}</td>
                        <td>{{ windows.window_area }}</td>
                        <td>{{ windows.ph }}</td>
                        <td>{{ windows.glass_frame_join.SHGC }}</td>
                        <td>{{ windows.shgc_proposed }}</td>
                        <td>{{ windows.glass_frame_join.U_Value }}</td>
                        <td>{{ windows.conductance }}</td>
                        <td><a class="btn btn-default" href="{% url 'glazing:windows_edit' pk=windows.pk %}"><span class="glyphicon glyphicon-pencil"></span></a></td>
                    </tr>
                    {% endfor %}  
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="5"></td>
                        <td>{{total_area.window_area__sum}} m<sup>2</sup></td>
                        <td></td>
                        <td></td>
                        <td>{{total_shgc_proposed.shgc_proposed__sum}}</td>
                        <td></td>
                        <td>{{total_conductance.conductance__sum}}</td>
                        <td></td>
                    </tr>                   
                </tfoot>
                
            </table>
        </div> 
{% endblock %}
