{% extends 'glazing/base.html' %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <h2> Projects 
            <a href="{% url 'glazing:glazing_project_new' %}"><span class="glyphicon glyphicon-plus"></span></a>
        </h2>

        <div class="post">
            <table class="table table-striped">
                <tr>
                    <th>Name</th>
                    <th>Creation Date</th>
                    <th>Climate Zone</th>
                    <th>Floor Number</th>
                    <th>Nett Floor Area</th>
                </tr>
                {% for project in glazing_projects_query_set %}
                <tr>
                    <td>
                        <a href="{% url 'glazing:glazing_project_detail' project.id %}">
                        {{ project.description }}</a>
                    </td>
                    <td>{{ project.pub_date }}</td>
                    <td>{{ project.climate_zone_id}}</td>
                    <td>{{ project.floor_number}}</td>
                    <td>{{ project.nett_floor_area}}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>
{% endblock content %}