{% extends 'glazing/base.html' %}

{% block content %}
    <div class="glazing_project">
        <h1><a href="/glazing/{{ detail.glazing_project_id.pk }}">{{ detail.glazing_project_id }}</a></h1>
        <h1>{{ detail.description }}<a class="btn btn-default" href="{% url 'glazing:windows_edit' pk=detail.pk %}"><span class="glyphicon glyphicon-pencil"></span></a></h1>
        <p>Width (m): {{ detail.width }}</p>
        <p>Weight (m): {{ detail.height }}</p>
        <p>Shading P (m): {{ detail.shading_p }}</p>
        <p>Shading H (m): {{ detail.shading_h }}</p>
        <p>Orientation: {{ detail.orientation_id }}</p>
        <p>Glass Product: {{ detail.glass_id }}</p>
        <p>Frame Material: {{ detail.frame_id }}</p>
        <p>Total Area (m2): {{ detail.window_area }}</p>
        <p>P/H: {{ detail.ph }}</p>
        <p>Solar exposure factor (E): {{ detail.solar_exposure }}</p>
        <p>Glazing system SHGC: {{ detail.glass_frame_join.SHGC }}</p>
        <p>SHGC of proposed glazing: {{ detail.shgc_proposed }}</p>
        <p>Glazing total U-value: {{ detail.glass_frame_join.U_Value }}</p>
        <p>Conductance of proposed glazing: {{ detail.conductance }}</p>
    </div>
{% endblock %}

