{% extends 'glazing/base.html' %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <h1><a href="/glazing/{{ detail.glazing_project_id.pk }}">{{ detail.glazing_project_id }}</a></h1>
        <h2>Complete Window Details for: {{ detail.description }}
            <a class="btn btn-primary pull-right" href="{% url 'glazing:windows_edit' pk=detail.pk %}">Edit
                <span class="glyphicon glyphicon-pencil"></span>
            </a>
        </h2>
    </div>
    <div class="col-md-12">
        <div class="table-responsive">
            <table class="table table-condensed">
            <thead></thead>
            <tbody>
                <tr>
                    <th>Width (m)</th>
                    <th>Height (m)</th>
                    <th>Shading P (m)</th>
                    <th>Shading H (m)</th>
                    <th>Orientation</th>
                    <th>Glass Product</th> 
                    <th>Frame Material</th>
                </tr>
                <tr>
                    <td>{{ detail.width }}</td>
                    <td>{{ detail.height }}</td>
                    <td>{{ detail.shading_p }}</td>
                    <td>{{ detail.shading_h }}</td>
                    <td>{{ detail.orientation_id }}</td>
                    <td>{{ detail.glass_id }}</td>
                    <td>{{ detail.frame_id }}</td>
                </tr>
                <tr>
                    <th>Total Area (m2)</th>
                    <th>P/H</th>
                    <th>Solar exposure factor (E)</th> 
                    <th>Glazing system SHGC</th>
                    <th>SHGC of proposed glazing</th>
                    <th>Glazing total U-value</th>
                    <th>Conductance of proposed glazing</th>
                </tr>
                <tr>
                    <td>{{ detail.window_area }}</td>
                    <td>{{ detail.ph }}</td>
                    <td>{{ detail.solar_exposure }}</td>
                    <td>{{ detail.glass_frame_join.SHGC }}</td>
                    <td>{{ detail.shgc_proposed }}</td>
                    <td>{{ detail.glass_frame_join.U_Value }}</td>
                    <td>{{ detail.conductance }}</td>
                </tr>  
            </tbody>
            </table>
        </div>
    </div>
{% endblock %}

